:root{
    --main-color-gold:#E1BD73;
    --main-color-black:#3C3C3C;
    --main-color-white:#F8F7F6;
    --secondary-color-blue:#2D3E60;

    --box-shadow-gold: 4px 4px 21px rgba(36, 218, 255, 0.3);

    /* font-family: 'Cormorant Garamond', serif; */
    /* font-family: 'Merriweather', serif; */
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Cormorant Garamond', serif;
   
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/* HEADER STYLES */
.filter{
    position: absolute;
    width: 100%;
    min-height: 92vh;
    background: linear-gradient(352deg, rgba(34, 34, 34, 0.92) -9.73%, rgba(67, 61, 48, 0.46) 62.77%, rgba(225, 189, 115, 0) 112.37%);
    transform: matrix(1, 0, 0, -1, 0, 0);
    z-index: 10;
}

.background-container{
    position: relative;
    top: 0;
    width: 100%;
    height: 84vh;
    overflow-x: hidden;
}

.background{
    position: absolute;
    top: 0;
    left: -70px;
    display: flex;
    width: 112vw;
    height: 100%;
    
}

.background > div{
    width: 25%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform:skew(-10deg);
    filter: blur(0.5px);
}

.mb-golden{
    background-image: url("./images/marmol-dorado.webp");
}

.mb-black{
    background-image: url("./images/marmol-negro.webp");
    
}

.mb-silver{
    background-image: url("./images/marmol-gris.webp");
}

.mb-white{
    background-image: url("./images/marmol-blanco.webp");
}

.navbar{
    position: relative;
    width: 100%;
    min-height:8vh;
    display: flex;
    justify-content:center;
    align-items:center;
    background: var(--main-color-white);
    z-index: 20;
}

.navbar > ul{
    width: 100%;
    display: flex;
    justify-content:space-around;
    font-size: clamp(1.3rem, 2vw, 3.8rem);
    font-weight: 500;
    color: var(--main-color-black);
}

.hero{
    position: absolute;
    top: 61px;left: 0;
    width: 100%;
    height: 80vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    z-index: 30;
}


.hero h1{
    margin-top: 80px;
    margin-left: 20px;
    font-size: clamp(8rem, 12vw, 16rem);
    font-weight:bold;
    letter-spacing:0.34em;
    background:url('./images/marmol-dorado.webp');
    background-position: center;
    background-size: cover;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    color: var(--main-color-gold);
}

.hero h2{
    margin-left: -10px;
    font-size: clamp(1.8rem, 3vw, 4rem);
    font-style: italic;
    font-weight:400;
    letter-spacing:0.40em;
    color: var(--main-color-white);
}

.hero p{
    margin-top: 2em;
    text-align:center;
    font-size: clamp(1.5rem, 1.5vw, 3.8rem);
    font-style: italic;
    font-weight:300;
    letter-spacing:0.185em;
    color: var(--main-color-white);
}


.hero a{
    margin-top: 3em;
    padding: 0.2em 0.7em;
    display: block;
    font-size:clamp(1.8rem, 3vw, 3rem);
    font-weight:700;
    letter-spacing:-1px;
    color:#856D3B;
    background-color: var(--main-color-white);
    border-radius:3px;
    box-shadow: 0px 2px 9px #E1BD73;
}


/* ABOUT STYLES */
.mid-part{
    position:relative;
    width: 100%;
    height: 19vh;
    background-color: var(--main-color-white);
    z-index: 1;
}

.mid-part .line{
    position: absolute;
    right: 0;
    width: 18%;
    height: 10px;
    background-color: var(--main-color-gold);
}

.line:nth-child(1){
    bottom: 13px;
}

.line:nth-child(2){
    bottom: 35px;
    width: 15%;
}

main{
    position: relative;
    width: 100%;
    background-color: var(--main-color-gold);
}

.shape-background{
    position: relative;
    margin-top: -7px;
    width: 80%;
    height: 115vh;
    clip-path: polygon(0% 100%, 100% 0%, 0% 0%);
    background: var(--main-color-white);
    z-index:1;
}

/* ABOUT STYLES */
.about-section{
    position: absolute;
    top: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 2;
}

.about-section div{
    margin-top: 2%;
    margin-left:5%;
    max-width: 700px;
    align-self: flex-start;
}

.about-section h3,span{
    font-family: 'Montserrat', sans-serif;
    font-size:clamp(2rem, 3vw, 4rem);
    font-weight: 500;
    line-height: 70px;
    letter-spacing: 0.21em;
    color: #4B4743;
}

.about-section h3:nth-child(2){
    margin-top: 7%;
}

.about-section span{
    font-style: italic;
    font-weight: 700;
}

/* MATERIALS STYLES */
.materials-section{
    position: relative;
    margin-top: -180px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    background: var(--main-color-gold);
}

.materials-section > p{
    max-width: 500px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size:clamp(1.8rem, 3vw, 3rem);
    line-height: 80px;
    letter-spacing: 0.21em;
    color: #4B4743;
    color: var(--main-color-white);
}

.materials-section p > span{
    font-weight: 600;
    font-size:clamp(1.8rem, 3vw, 3rem);
    color: var(--main-color-white);
}

.materials-section .materials-grid{
    max-width: 700px;
    display:grid;
    gap:30px 30px;
    grid-template-columns: repeat(3,1fr);
    background: var(--main-color-gold);
}

.materials-grid > div{
    margin: 0 auto;
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

.materials-grid > div > img{
    width: 100%;
    height: 151px;
    object-fit: cover;
}

.materials-grid > div > p{
    font-weight: 400;
    font-size:clamp(1.2rem, 3vw, 1.6rem);
    letter-spacing: 0.3em;
    line-height:30px;
    color: #2F2E2D;
}

.shape-background-two{
    position: relative;
    top: 137px;
    width: 100%;
    height: 16vh;
    clip-path: polygon(50% 50%, 100% 0%, 0% 0%);
    background: var(--main-color-gold);
}

/* MODELS STYLES */

.models-section{
    width: 100%;
    height: 10vh;
    background: var(--main-color-black);
}